<% layout('layout') %>

<%- include('../../partials/navbar.ejs'); %>
<div class="container-fluid px-4">
  <div class="row my-4">
    <div>
      <h3 class=""><strong>Data User</strong></h3>
    </div>
      <div class="ms-auto float-end">
        <button type="button" class="btn-dflt float-end" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="fa fa-plus-circle"></i> Tambah User</button>
      </div>
  </div>

    <!-- Modal Add -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/api-v1/intern/create-user" id="addUser">
            <div class="row g-3">
              <div class="col">
              <h6>Username</h6>
              <input type="text" class="form-control" id="recipient-username" name="username">
            </div>
            <div class="col">
              <h6>Role</h6>
              <select class="form-control" id="role-dropdown" name="id_role">
              </select>
            </div>
            </div><br>
            <div class="row g-3">
            <div class="col">
              <h6>Nama Depan</h6>
              <input type="text" class="form-control" id="recipient-firstname" name="firstname">
            </div>
            <div class="col">
              <h6>Nama Belakang</h6>
              <input type="text" class="form-control" id="recipient-lastname" name="lastname">
            </div>
            </div><br>
            <div class="row g-3">
            <div class="col">
              <h6>Email</h6>
              <input type="text" class="form-control" id="recipient-email" name="email">
            </div>
            <div class="col">
              <h6>No HP</h6>
              <input type="text" class="form-control" id="recipient-mobile" name="mobile_number">
            </div>
            </div><br>
            <div class="row g-3">
            <div class="col">
              <h6>Password</h6>
              <input type="text" class="form-control" id="recipient-password" name="password">
            </div>
            <div class="col">
              <h6>Konfirmasi Password</h6>
              <input type="text" class="form-control" id="recipient-password2" name="password_confirmation">
            </div>
            </div><br>
            <div class="row g-3">
            <div class="col">
              <h6>Kode Provinsi</h6>
              <input type="text" class="form-control" id="recipient-prov" name="kode_prov">
            </div>
            <div class="col">
              <h6>Kode Kabupaten/Kota</h6>
              <input type="text" class="form-control" id="recipient-kabkot" name="kode_kabkot">
            </div>
            </div><br>
            <div class="row g-3">
            <div class="col">
              <h6>Kode Kecamatan</h6>
              <input type="text" class="form-control" id="recipient-kev" name="kode_kec">
            </div>
            <div class="col">
              <h6>Kode Desa</h6>
              <input type="text" class="form-control" id="recipient-desa" name="kode_desa">
            </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button onclick="form_submit()" class="btn btn-green" type="submit">Tambah</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
          <table id="tabel_user" class="table bg-light rounded shadow-sm  table-hover">
              <thead>
                  <tr>
                      <th scope="col">Username</th>
                      <th scope="col">Nama Depan</th>
                      <th scope="col">Nama Belakang</th>
                      <th scope="col">No Handphone</th>
                      <th scope="col">Email</th>
                      <th scope="col">Role</th>
                      <th scope="col">Aksi</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/api-v1/intern/create-user" id="addUser">
          <div class="row g-3">
            <div class="col">
            <h6>Username</h6>
            <input type="text" class="form-control" id="recipient-username" name="get_username" readonly>
          </div>
          <div class="col">
            <h6>Role</h6>
            <input type="text" class="form-control" id="recipient-role" name="get_id_role" readonly>
          </div>
          </div><br>
          <div class="row g-3">
          <div class="col">
            <h6>Nama Depan</h6>
            <input type="text" class="form-control" id="recipient-firstname" name="get_firstname" readonly>
          </div>
          <div class="col">
            <h6>Nama Belakang</h6>
            <input type="text" class="form-control" id="recipient-lastname" name="get_lastname" readonly>
          </div>
          </div><br>
          <div class="row g-3">
          <div class="col">
            <h6>Email</h6>
            <input type="text" class="form-control" id="recipient-email" name="get_email" readonly>
          </div>
          <div class="col">
            <h6>No HP</h6>
            <input type="text" class="form-control" id="recipient-mobile" name="get_mobile_number" readonly>
          </div>
          </div><br>
          <div class="row g-3">
          <div class="col">
            <h6>Kode Provinsi</h6>
            <input type="text" class="form-control" id="recipient-prov" name="get_kode_prov" readonly>
          </div>
      </div>
  </div>

  <!-- Modal Edit -->
  <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/api-v1/intern/create-user" id="addUser">
            <div class="row g-3">
              <div class="col">
              <h6>Username</h6>
              <input type="text" class="form-control" id="recipient-username" name="get_username" readonly>
            </div>
            <div class="col">
              <h6>Role</h6>
              <select class="form-control" id="role-dropdown" name="get_id_role" readonly>
              </select>
            </div>
            </div><br>
            <div class="row g-3">
            <div class="col">
              <h6>Nama Depan</h6>
              <input type="text" class="form-control" id="recipient-firstname" name="get_firstname" readonly>
            </div>
            <div class="col">
              <h6>Nama Belakang</h6>
              <input type="text" class="form-control" id="recipient-lastname" name="get_lastname" readonly>
            </div>
            </div><br>
            <div class="row g-3">
            <div class="col">
              <h6>Email</h6>
              <input type="text" class="form-control" id="recipient-email" name="get_email" readonly>
            </div>
            <div class="col">
              <h6>No HP</h6>
              <input type="text" class="form-control" id="recipient-mobile" name="get_mobile_number" readonly>
            </div>
            </div><br>
            <div class="row g-3">
            <div class="col">
              <h6>Kode Provinsi</h6>
              <input type="text" class="form-control" id="recipient-prov" name="get_kode_prov" readonly>
            </div>
            <div class="col">
              <h6>Kode Kabupaten/Kota</h6>
              <input type="text" class="form-control" id="recipient-kabkot" name="get_kode_kabkot" readonly>
            </div>
            </div><br>
            <div class="row g-3">
            <div class="col">
              <h6>Kode Kecamatan</h6>
              <input type="text" class="form-control" id="recipient-kec" name="get_kode_kec" readonly>
            </div>
            <div class="col">
              <h6>Kode Desa</h6>
              <input type="text" class="form-control" id="recipient-desa" name="get_kode_desa" readonly>
            </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-green" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete -->
  <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hapus data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Anda yakin ingin menghapus data ini?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tidak</button>
          <button type="button" id="btn-yakin" class="btn btn-primary">Ya</button>
        </div>
      </div>
    </div>
  </div>
</div>
    
            


<script type="text/javascript">
  $(document).ready(function(){
  function fetchCustomers(page){
    let pageNumber = (typeof page !== 'undefined') ?  page : 1;
      $.ajax({
          type: "GET",
          url: '/api-v1/intern/get-all-users',
          //headers: {
          //Authorization: 'Bearer ' + localStorage.getItem('token') },
          dataType: 'JSON',
          data: { 
              page: pageNumber
          },
          success: function(data) {
              console.log(data, "ini data user")
              var tatanan = '';
              let dataCoba = data.data.results
  
              // ITERATING THROUGH OBJECTS
              $('#tabel_user tbody').empty();
             // add table rows
              $.each(dataCoba, (i, value) => {
                  console.log(value, "ini value")
                  let userRow = '<tr>' +
                                      '<td>' + value.username + '</td>' +
                                      '<td>' + value.firstname + '</td>' +
                                      '<td>' + value.lastname + '</td>' +
                                      '<td>' + value.mobile_number + '</td>' +
                                      '<td>' + value.email + '</td>' +
                                      '<td>' + value.role.name + '</td>' +
                                      '<td>' + '<button type="button" class="btn" id="btn-edit" data-id='+ value.id +'><i class="fas fa-info-circle"></i></button> <button class="btn" id="btn-delete" data-id='+ value.id +' ><i class="fas fa-trash"></i></button>'+ '</td>' +
                                    '</tr>';
              $('#tabel_user tbody').append(userRow);
            });
  
              if ($('ul.pagination li').length - 2 != data.data.totalPages){
                    // build pagination list at the first time loading
                    $('ul.pagination').empty();
                    buildPagination(data.data.totalPages);
                }   
          },
              error : function(e) {
                alert("ERROR: ", e);
                console.log("ERROR: ", e);
              }
      })
  }
  
   /* Build Pagination Bar*/
   function buildPagination(totalPages){
          // Build paging navigation
          let pageIndex = '<li class="page-item"><a class="page-link">Previous</a></li>';
          $("ul.pagination").append(pageIndex);
          
          // create pagination
          for(let i=1; i <= totalPages; i++){
            // adding .active class on the first pageIndex for the loading time
            if(i==1){
                pageIndex = "<li class='page-item active'><a class='page-link'>"
                      + i + "</a></li>"                     
            } else {
                pageIndex = "<li class='page-item'><a class='page-link'>"
                          + i + "</a></li>"
            }
            $("ul.pagination").append(pageIndex);
          }
          
          pageIndex = '<li class="page-item"><a class="page-link">Next</a></li>';
          $("ul.pagination").append(pageIndex);
      }
  
  /*Fetching in initial time*/
  (function(){
          // get first-page at initial time
          fetchCustomers(1);
      })();
  
  /*Fetch data when clicking*/
  $(document).on("click", "ul.pagination li a", function() {
          let val = $(this).text();
          
          // click on the NEXT tag
          if(val.toUpperCase()==="NEXT"){
              let activeValue = parseInt($("ul.pagination li.active").text());
              let totalPages = $("ul.pagination li").length - 2; // -2 beacause 1 for Previous and 1 for Next 
              if(activeValue < totalPages){
                  let currentActive = $("li.active");
                  fetchCustomers(activeValue); // get next page value
                  // remove .active class for the old li tag
                  $("li.active").removeClass("active");
                  // add .active to next-pagination li
                  currentActive.next().addClass("active");
              }
          } else if(val.toUpperCase()==="PREVIOUS"){
              let activeValue = parseInt($("ul.pagination li.active").text());
              if(activeValue > 1){
                  // get the previous page
                  fetchCustomers(activeValue-2);
                  let currentActive = $("li.active");
                  currentActive.removeClass("active");
                  // add .active to previous-pagination li
                  currentActive.prev().addClass("active");
              }
          } else {
              fetchCustomers(parseInt(val));
              // add focus to the li tag
              $("li.active").removeClass("active");
              $(this).parent().addClass("active");
          }
      })
  })
  </script>

  <script type="text/javascript">
  $(document).ready(function(){
      $.ajax({
          type: "GET",
          url: '/api-v1/intern/get-all-roles',
          //headers: {
          //Authorization: 'Bearer ' + localStorage.getItem('token') },
          dataType: 'JSON',
          success: function(data) {
              console.log(data, "ini data roles")
              let dataCoba = data.data.results
  
              // ITERATING THROUGH OBJECTS
              $('#role-dropdown').empty();
              $('#role-dropdown').append('<option selected="true" disabled>Role</option>');
              $('#role-dropdown').prop('selectedIndex', 0);

             // add table rows
              $.each(dataCoba, (i, value) => {
                  console.log(value, "ini value roles")
                  let roles = value.id
                  $('#role-dropdown').append('<option value="' + value.id + '">' + value.name + '</option>');   
          });
        },
              error : function(e) {
                alert("ERROR: ", e);
                console.log("ERROR: ", e);
              }
          })
  })
  </script>
  <script type="text/javascript">
    function form_submit() {
      document.getElementById("addUser").submit();
      swal("Data ditambahkan", "Anda telah berhasil menambah data tatanan!", "success")
            .then(function(){ 
            location.reload();
          });
     }    
  </script>

  <script>
  $(document).ready(function(){
      function deleteRow(id){
      let del_id = (typeof id !== 'undefined') ?  id : 1;

      $.ajax({
      type: "PATCH",
      url: "/api-v1/intern/delete-user?id=" + id,
      dataType: 'JSON',
      data: { 
        id: del_id
      },
      success: function(data){
        swal("Data terhapus", "Anda telah berhasil menghapus data!", "success")
        .then(function(){ 
          location.reload();
          }
        );
      },
        error : function(e) {
          alert("ERROR: ", e);
          console.log("ERROR: ", e);
          location.reload()
          }
      })
    }

      $("body").on("click", "#btn-delete", function(){  
        let del = $(this).attr('data-id');
        $("#modalDelete").modal('show');
        
        $("#modalDelete .modal-footer").on("click", "#btn-yakin", function(){   
        let delete_int = parseInt(del);

        deleteRow(delete_int);
        })
      })
  });
  </script>

<script>
  $(document).ready(function(){
      function editRow(id){
      let edt_id = (typeof id !== 'undefined') ?  id : 1;
      $.ajax({
          type: "GET",
          url: '/api-v1/intern/detail-user',
          //headers: {
          //Authorization: 'Bearer ' + localStorage.getItem('token') },
          dataType: 'JSON',
          data: { 
              id: edt_id
          },
          success: function(data) {
              console.log(data, "ini data user id")
              let dataCoba = data.data.data;

              $.each(dataCoba, (i, value) => {
                console.log(value, "ini user id")

                $("#modalEdit .modal-body #recipient-username").val(value.username);
                $("#modalEdit .modal-body #recipient-firstname").val(value.firstname);
                $("#modalEdit .modal-body #recipient-lastname").val(value.lastname);
                $("#modalEdit .modal-body #recipient-mobile").val(value.mobile_number);
                $("#modalEdit .modal-body #recipient-email").val(value.email);
                $("#modalEdit .modal-body #recipient-role").val(value.role.name);
                $("#modalEdit .modal-body #recipient-prov").val(value.kode_wilayah.kode_prov);
                $("#modalEdit .modal-body #recipient-kabkot").val(value.kode_wilayah.kode_kabkot);
                $("#modalEdit .modal-body #recipient-kec").val(value.kode_wilayah.kode_kec);
                $("#modalEdit .modal-body #recipient-desa").val(value.kode_wilayah.kode_desa);

                $("#modalEdit").modal();
                $("#modalEdit").modal('show');
              })
 
          },
              error : function(e) {
                alert("ERROR: ", e);
                console.log("ERROR: ", e);
              }
        })
      
      }

      $("body").on("click", "#btn-edit", function(){  
        let edt = $(this).attr('data-id');
        let edit_int = parseInt(edt);

        editRow(edit_int);
      })
  })

  </script>