<% layout('layout') %>

<%- include('../../partials/navbar.ejs'); %>
<div class="container-fluid px-4">
    <div class="row g-3 my-2">
        <div class="col-md-4">
            <div class="p-3 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-5">Jumlah Petugas</h3>
                    <p id="jumlah-petugas" class="fs-2 text-danger fw-bold"></p>
                </div>
                <i class="fas fa-user fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </div>

        <div class="col-md-4">
            <div class="p-3 bg-light shadow-sm d-flex justify-content-around align-items-center rounded ">
                <div>
                    <h3 class="fs-5">Jumlah Tatanan</h3>
                    <p id="jumlah-tatanan" class="fs-2 text-primary fw-bold"></p>
                </div>
                <i
                    class="fas fa-project-diagram fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </div>

        <div class="col-md-4">
            <div class="p-3 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-5">Jumlah Kegiatan</h3>
                    <p id="jumlah-kegiatan" class="fs-2 text-success fw-bold"></p>
                </div>
                <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </div>

    </div>

    <div class="row my-5">
        <h3 class="fs-4 mb-3">Data Kegiatan</h3>
        <div class="col">
            <table class="table bg-light rounded shadow-sm  table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Lokasi</th>
                        <th>Jumlah Kegiatan</th>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">1</a></td>
                        <td>Tanah Enam Ratus, Medan Marelan, Medan</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td><a href="#">2</a></td>
                        <td>Tanjung Selamat, Medan Tuntungan, Medan</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td><a href="#">3</a></td>
                        <td>Sei Rengas II, Medan Area, Medan</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td><a href="#">4</a></td>
                        <td>Lau Cih, Medan Tuntungan, Medan</td>
                        <td>86</td>
                    </tr>
                    <tr>
                        <td><a href="#">5</a></td>
                        <td>Bantan Timur, Medan Tembung, Medan</td>
                        <td>62</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
</div>
<script>
    window.onload = function () {
    
    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        title:{
            text: "Grafik Kesehatan Kota"
        },
        axisY: {
            title: ""
        },
        data: [{        
            type: "column",  
            showInLegend: true, 
            legendMarkerColor: "grey",
            legendText: "Indikator",
            dataPoints: [      
                { y: 10, label: "Sarana Prasarana" },
                { y: 20,  label: "Terib lalu lintas" },
                { y: 15,  label: "Kawan Industri dan Perkantoran" },
                { y: 50,  label: "Kawasan Pariwisata" },
                { y: 75,  label: "Kawasan Pertambangan" },
                { y: 30, label: "Kawasan Hutan" },
                { y: 40,  label: "Ketahanan Pangan & Gizi" },
                { y: 40,  label: "Kehidupan Masyarakat" },
                { y: 55,  label: "Kehidupan Sosial" }
            ]
        }]
    });
    chart.render();
    
    }
    </script>
    </head>
    <body>
    <center><div class="col-md-11" id="chartContainer"></div></center>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
        $.ajax({
        type: "GET",
        url: '/api-v1/intern/get-full-kegiatan',
        //headers: {
        //Authorization: 'Bearer ' + localStorage.getItem('token') },
        dataType: 'JSON',
        success: function(data) {
            console.log(data, "ini data kegiatan")
            let kegiatanTotal = data.data.total;
            $('#jumlah-kegiatan').append(kegiatanTotal);
            
        },
            error : function(e) {
              alert("ERROR: ", e);
              console.log("ERROR: ", e);
            }
    })
</script>
    
<script>
        $.ajax({
        type: "GET",
        url: '/api-v1/intern/get-all-tatanan',
        //headers: {
        //Authorization: 'Bearer ' + localStorage.getItem('token') },
        dataType: 'JSON',
        success: function(data) {
            console.log(data, "ini data tatanan")
            let tatananTotal = data.data.total;
            $('#jumlah-tatanan').append(tatananTotal);
            
        },
            error : function(e) {
              alert("ERROR: ", e);
              console.log("ERROR: ", e);
            }
    })
</script>

<script>
    $.ajax({
    type: "GET",
    url: '/api-v1/intern/get-all-users',
    //headers: {
    //Authorization: 'Bearer ' + localStorage.getItem('token') },
    dataType: 'JSON',
    success: function(data) {
        console.log(data, "ini data user")
        let usersTotal = data.data.total;
        $('#jumlah-petugas').append(usersTotal);
        
    },
        error : function(e) {
          alert("ERROR: ", e);
          console.log("ERROR: ", e);
        }
})
</script>