<% layout('layout') %>

<%- include('../../partials/navbar.ejs'); %>
<div class="container-fluid px-4">
    <div class="row my-5">
        <h3 class="fs-4 mb-3">Data Tatanan</h3>
        <div class="col">
            <button type="button" class="btn btn-outline-primary"><i class="far fa-plus-square"></i> Tambah Tatanan</button>
            <table id="tabel_tatanan" class="table bg-light rounded shadow-sm  table-hover">
                <thead>
                    <tr>
                        <th>nama_tatanan</th>
                        <th>jenis_indikator</th>
                        <th>kategori</th>
                        <th>nama_indikator</th>
                        <th>SubIndikator</th>
                </thead>
                <tbody>
                     <!--<tr>
                        <td><a href="#">1</a></td>
                        <td>Pokok</td>
                        <td>Kawasan Pemukiman</td>
                        <td>Udara Bersih</td>
                        <td>Memenuhi standar ISPU</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#">2</a></td>
                        <td>Pokok</td>
                        <td>Kawasan Pemukiman</td>
                        <td>Udara Bersih</td>
                        <td>Memenuhi standar ISPU</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#">3</a></td>
                        <td>Pokok</td>
                        <td>Kawasan Pemukiman</td>
                        <td>Udara Bersih</td>
                        <td>Memenuhi standar ISPU</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#">4</a></td>
                        <td>Pokok</td>
                        <td>Kawasan Pemukiman</td>
                        <td>Udara Bersih</td>
                        <td>Memenuhi standar ISPU</td>
                        <td></td>
                    </tr>-->
                </tbody>
            </table>
        </div>
    </div>

</div>
<% block('extendScripts').append('<script type="text/javascript" src="/js/tatanan/tatanan.js"></script>') %>
