
      <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container-fluid p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 ">
              <h5 class="text-uppercase inf">Lokasi City Medan</h5>
      
              <ul class="list-unstyled mb-0 inf">
                <li>
                    <a><i class="fa fa-map-marker"></i> Alamat - Kantor Walikota Medan Jalan Gatot Subruto No 9,<br>Kota Medan<br>Sumatera Utara, Indonesia</a>
                </li>
                <li>
                    <a><i class="fa fa-phone"></i> +62 123456</a>
                </li>
                <li>
                    <a ><i class="fa fa-envelope"></i> city@medan.com</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 ">
                <img src="images/content/logo.png" width="200">
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3 text-white" style="background-color: #1f827c;">
          © 2021 Copyright:
          <a class="text-white" >PT BHUMI VARTA TECHNOLOGY. All Rights Reserved</a>
        </div>
        <!-- Copyright -->
      </footer>