<!-- Sidebar -->
<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <!-- <div class="logo_name"><img width="150" height="40" src="images/logo/lokasi-city-02.png" alt="1"></div> -->
        <div class="logo_name">Menu</div>
        <i class='fa fa-bars' id="btn" style="color: white;"></i>
    </div>
    <ul class="nav-lists">
      <!-- Admin -->
      <li class="<% { if (role == 2) { %> hide <% } } %>">
        <a href="/" class="<% if(typeof active != 'undefined') { if (active == 'home') { %> active <% } } %> <% if(typeof role != 'undefined') %> ">
          <i class='fas fa-home me-2'></i>
          <span class="links_name ">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li class="<% if(typeof role != 'undefined') { if (role == 2) { %> hide <% } } %>">
       <a href="/data-user" class="<% if(typeof active != 'undefined') { if (active == 'user') { %> active <% } } %> <% if(typeof role != 'undefined') %> ">
         <i class='fas fa-user me-2' ></i>
         <span class="links_name">User</span>
       </a>
       <span class="tooltip">User</span>
     </li>
     <li class="<% if(typeof role != 'undefined') { if (role == 2) { %> hide <% } } %>">
       <a href="/tatanan" class="<% if(typeof active != 'undefined') { if (active == 'tatanan') { %> active <% } } %> <% if(typeof role != 'undefined') %> ">
         <i class='fas fa-tasks me-2' ></i>
         <span class="links_name">Tatanan</span>
       </a>
       <span class="tooltip">Tatanan</span>
     </li>
     <li class="<% if(typeof role != 'undefined') { if (role == 2) { %> hide <% } } %>">
      <a href="#submenu" data-bs-toggle="collapse" class="feat-btn  <% if(typeof active != 'undefined') { if (active == 'kegiatan') { %> active <% } } %> <% if(typeof role != 'undefined') %> ">
          <i class="fas fa-tasks me-2"></i>
          <span class="links_name">Kegiatan</span> 
      </a>
      <span class="tooltip">Dokumentasi Kegiatan</span>
      <ul class="collapse nav flex-column ms-1" id="submenu" data-bs-parent="#menu">
          <li class="w-100">
              <a href="/petugas-kegiatan" class="nav-link px-0 <% if(typeof active != 'undefined') { if (active == 'kegiatan') { %> active <% } } %> <% if(typeof role != 'undefined') %> "> 
                <i class="fas fa-users-cog"></i>
                <span class="links_name">Petugas</span> 
              </a>
          </li>
          <li class="w-100">
              <a href="/kegiatan-umum" class="nav-link px-0 <% if(typeof active != 'undefined') { if (active == 'kegiatan') { %> active <% } } %> <% if(typeof role != 'undefined') %> "> 
                <i class="fas fa-users"></i>
                <span class="links_name">Umum</span> 
              </a>
          </li>
      </ul>
  </li>
  <li class="<% if(typeof role != 'undefined') { if (role == 2) { %> hide <% } } %>">
    <a href="/kelola-lokasi" class="<% if(typeof active != 'undefined') { if (active == 'lokasi') { %> active <% } } %> <% if(typeof role != 'undefined') %> ">
      <i class='fas fa-map-marked me-2' ></i>
      <span class="links_name">Kelola Lokasi</span>
    </a>
    <span class="tooltip">Kelola Lokasi</span>
  </li>

     
    <!-- Petugas -->
  <li class="<% if(typeof role != 'undefined') { if (role == 1) { %> hide <% } } %>">
    <a href="/home-petugas" class="<% if(typeof active != 'undefined') { if (active == 'home') { %> active <% } } %> <% if(typeof role != 'undefined') %> ">
      <i class='fas fa-home me-2' ></i>
      <span class="links_name">Dashboard</span>
    </a>
    <span class="tooltip">Dashboard</span>
  </li>
  <li class="<% if(typeof role != 'undefined') { if (role == 1) { %> hide <% } } %>">
    <a href="/berita-petugas" class="<% if(typeof active != 'undefined') { if (active == 'berita') { %> active <% } } %> <% if(typeof role != 'undefined') %> ">
      <i class='fas fa-newspaper me-2' ></i>
      <span class="links_name">Berita</span>
    </a>
    <span class="tooltip">Berita</span>
  </li>
  <li class="<% if(typeof role != 'undefined') { if (role == 1) { %> hide <% } } %>">
    <a href="/kegiatan-petugas" class="<% if(typeof active != 'undefined') { if (active == 'kegiatan') { %> active <% } } %> <% if(typeof role != 'undefined') %> ">
      <i class='fas fa-tasks me-2' ></i>
      <span class="links_name">Kegiatan</span>
    </a>
    <span class="tooltip">Kegiatan</span>
  </li>
  </ul>
</div>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">

  <div class="logo_name"><img width="230" height="60" src="images/logo/lokasi-city-02.png" alt="1"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user me-2"></i><%= username || '' %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li>
                      <form method="POST" action="/logout">
                        <button class="dropdown-item" type="submit">Logout</button>
                      </form>
                      
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
 
