<% layout('layout') %>

<%- include('../../partials/navbar.ejs'); %>
<div class="container-fluid px-4">
  <div class="wrapper-kelola-lokasi">
    <div id="map-city"></div>
    <div class="card-kelola-kegiatan">
      <div class="grid-kelola-kegiatan" style="
      left: 450px;
      top: 200px;
        margin-left: -15px;
        width:500px;
       margin-right: -15px;
      height:500px;overflow-y:auto">
        <h5>Tambah Kegiatan</h5>
        <form method="POST" id="formKegiatan" action="/api-v1/intern/create-kegiatan-non">
              <div style="margin-top: 2px;" class="row g-3">
                <div class="col">
                  <h6>Longitude</h6>
                  <input type="text" id="longitude" class="form-control" name="longitude">
                </div>
                <div class="col">
                  <h6>Latitude</h6>
                  <input type="text" id="latitude" class="form-control" name="latitude">
                </div>
              </div>
                <br>
              <div class="row g-3">
                <div style="margin-top: 5px;" class="col">
                    <h6>Alamat</h6>
                    <textarea style="resize:none" id="alamat" class="form-control" name="alamat"></textarea>
                </div>
              </div>
              <div style="margin-top: 2px;" class="row g-3">
                  <div class="col">
                    <h6>Nama Kegiatan</h6>
                    <input type="text" id="nama_kegiatan" class="form-control" name="nama_kegiatan">
                  </div>
                  <div class="col">
                    <h6>Pelaksana</h6>
                    <input type="text" id="pelaksana" class="form-control" name="pelaksana">
                  </div>
              </div>
              <div style="margin-top: 2px;" class="row g-3">
                <div class="col">
                  <h6>Nama Tatanan</h6>
                  <select class="form-control" id="select-nama-tatanan" name="nama_tatanan">
                  </select>
                </div>
                <div class="col">
                  <h6>Jenis Indikator</h6>
                  <select class="form-control" id="select-jenis-indikator" name="jenis_indikator">
                  </select>
              </div>
              <div style="margin-top: 2px;" class="row g-3">
                <div class="col">
                  <h6>Kategori</h6>
                  <select class="form-control" id="select-kategori" name="kategori">
                    </select>
                </div>
                <div class="col">
                    <h6>Nama Indikator</h6>
                    <select class="form-control" id="select-indikator" name="nama_indikator">
                      </select>
                  </div>
                </div>
                <div style="margin-top: 2px;" class="row g-3">
                    <div class="col">
                      <h6>Subindikator</h6>
                      <select class="form-control" id="select-subindikator" name="subindikator">
                        </select>
                    </div>
                    <div class="col">
                      <h6>Tanggal Kegiatan</h6>
                      <input type="date" id="tanggal_kegiatan" class="form-control" name="tanggal_kegiatan">
                    </div>
                </div>
                  <br>
                <div class="row g-3">
                  <div style="margin-top: 5px;" class="col">
                    <h6>Deskripsi</h6>
                    <textarea style="resize:none" id="deskripsi" class="form-control" name="deskripsi"></textarea>
                  </div>
                </div>
                  <br>
                <div class="mb-3">
                  <h6>Foto</h6>
                  <input type="file" id="gambar" name="gambar"/>
                </div>
        </form>
        <div class="mb-2">
          <button onclick="form_submit()" class="btn btn-green" type="submit">Tambah</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var position;
    let mapCity = new L.map('map-city', {
      zoomControl:false,
      attributionControl: false
    });
    mapCity.setView([3.6169589,98.6663069], 13);
    
    let streetTileLayerMapbox = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
    L.tileLayer(streetTileLayerMapbox, {
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
    }).addTo(mapCity);

    function simpleReverseGeocoding(lon, lat) {
        fetch('http://nominatim.openstreetmap.org/reverse?format=json&lon=' + lon + '&lat=' + lat).then(function(response) {
          return response.json();
        }).then(function(json) {
          marker.bindPopup(json.display_name).openPopup();
          document.getElementById('alamat').value = json.display_name;
        })
      }
  
    function onMapClick(e) {
      mapCity.off('click', onMapClick);
      marker = new L.marker(e.latlng, {draggable:'true'});
      marker.on('dragend', function(event){
        var marker = event.target;
        var position = marker.getLatLng();
        marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
        mapCity.panTo(new L.LatLng(position.lat, position.lng));
        simpleReverseGeocoding(position.lng, position.lat);
        document.getElementById('latitude').value = marker.getLatLng().lat;
        document.getElementById('longitude').value = marker.getLatLng().lng;
        
      });

      mapCity.addLayer(marker);
  
    };
    
    mapCity.on('click', onMapClick)
    
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
      $.ajax({
          type: "GET",
          url: '/api-v1/intern/get-full-tatanan',
          //headers: {
          //Authorization: 'Bearer ' + localStorage.getItem('token') },
          dataType: 'JSON',
          success: function(data) {
              console.log(data, "ini data tatanan")
              let dataCoba = data.data.results
  
              // ITERATING THROUGH OBJECTS
              $('#select-nama-tatanan').empty();
              $('#select-nama-tatanan').append('<option selected="true" disabled>Nama Tatanan</option>');
              $('#select-nama-tatanan').prop('selectedIndex', 0);
              
             // add table rows
             var itemsAdded=[];
              $.each(dataCoba, (i, value) => {
                  console.log(value, "ini value tatanan")
                  let nama_tatanan = value.nama_tatanan
                  
                  if($.inArray(value.nama_tatanan, itemsAdded)===-1) 
                  { itemsAdded.push(value.nama_tatanan);
                    $('#select-nama-tatanan').append('<option value="' + value.nama_tatanan + '">' + value.nama_tatanan + '</option>'); 
                  }
                    
          });
        },
              error : function(e) {
                alert("ERROR: ", e);
                console.log("ERROR: ", e);
              }
          })
  })
</script>

<script>
$(document).ready(function(){
    $('#select-nama-tatanan').on('change', function(){
        var nama_tatanan = $(this).val();
        if(nama_tatanan){
          $.ajax({
          type: "GET",
          url: '/api-v1/intern/get-tatanan-nama?nama_tatanan='+nama_tatanan,
          dataType: 'JSON',
          success: function(data) {
              // console.log(data, "ini data tatanan")
              let dataCoba = data.data.results
  
              // ITERATING THROUGH OBJECTS
              $('#select-jenis-indikator').empty();
              $('#select-jenis-indikator').prop('selectedIndex', 0);
              $('#select-jenis-indikator').append('<option selected="true" disabled>Jenis Indikator</option>');
              
             // add table rows
             var itemsAdded=[];
              $.each(dataCoba, (i, value) => {
                  // console.log(value, "ini value tatanan")
                  let jenis_indikator = value.jenis_indikator
                  
                  if($.inArray(jenis_indikator, itemsAdded)===-1) 
                  { itemsAdded.push(jenis_indikator);
                    $('#select-jenis-indikator').append('<option value="' + value.jenis_indikator + '">' + value.jenis_indikator + '</option>'); 
                  }
                    
          });
        },
              error : function(e) {
                alert("ERROR: ", e);
                console.log("ERROR: ", e);
              }
          })
        }
    });
    
    $('#select-jenis-indikator').on('change', function(){
        var nama_tatanan = $("#select-nama-tatanan").val();
        var jenis_indikator= $(this).val();
        if(nama_tatanan){
          $.ajax({
          type: "GET",
          url: '/api-v1/intern/get-tatanan-nama-jenis?nama_tatanan='+nama_tatanan+'&jenis_indikator='+jenis_indikator,
          dataType: 'JSON',
          success: function(data) {
              // console.log(data, "ini data tatanan")
              let dataCoba = data.data.results
  
              // ITERATING THROUGH OBJECTS
              $('#select-kategori').empty();
              $('#select-kategori').prop('selectedIndex', 0);
              $('#select-kategori').append('<option selected="true" disabled>Kategori</option>');
              
             // add table rows
             var itemsAdded=[];
              $.each(dataCoba, (i, value) => {
                  // console.log(value, "ini value tatanan")
                  let kategori = value.kategori
                  
                  if($.inArray(kategori, itemsAdded)===-1) 
                  { itemsAdded.push(kategori);
                    $('#select-kategori').append('<option value="' + value.kategori + '">' + value.kategori + '</option>'); 
                  }
                    
          });
        },
              error : function(e) {
                alert("ERROR: ", e);
                console.log("ERROR: ", e);
              }
          })
        }
    });

    $('#select-kategori').on('change', function(){
        var nama_tatanan = $("#select-nama-tatanan").val();
        var jenis_indikator = $("#select-jenis-indikator").val();
        var kategori = $(this).val();
        console.log(kategori);
        if(nama_tatanan){
          $.ajax({
          type: "GET",
          url: '/api-v1/intern/get-tatanan-nama-jenis-kategori?nama_tatanan='+nama_tatanan+'&jenis_indikator='+jenis_indikator+'&kategori='+kategori,
          dataType: 'JSON',
          success: function(data) {
              // console.log(data, "ini data tatanan")
              let dataCoba = data.data.results
  
              // ITERATING THROUGH OBJECTS
              $('#select-indikator').empty();
              $('#select-indikator').prop('selectedIndex', 0);
              $('#select-indikator').append('<option selected="true" disabled>Nama Indikator</option>');
              
             // add table rows
             var itemsAdded=[];
              $.each(dataCoba, (i, value) => {
                  // console.log(value, "ini value tatanan")
                  let indikator = value.nama_indikator
                  
                  if($.inArray(indikator, itemsAdded)===-1) 
                  { itemsAdded.push(indikator);
                    $('#select-indikator').append('<option value="' + value.nama_indikator + '">' + value.nama_indikator + '</option>'); 
                  }
                    
          });
        },
              error : function(e) {
                alert("ERROR: ", e);
                console.log("ERROR: ", e);
              }
          })
        }
    });

    $('#select-indikator').on('change', function(){
        var nama_tatanan = $("#select-nama-tatanan").val();
        var jenis_indikator = $("#select-jenis-indikator").val();
        var kategori = $("#select-kategori").val();
        var indikator = $(this).val();
        if(nama_tatanan){
          $.ajax({
          type: "GET",
          url: '/api-v1/intern/get-tatanan-nama-jenis-kategori-indikator?nama_tatanan='+nama_tatanan
          +'&jenis_indikator='+jenis_indikator+'&kategori='+kategori+'&nama_indikator='+indikator,
          dataType: 'JSON',
          success: function(data) {
              // console.log(data, "ini data tatanan")
              let dataCoba = data.data.results
  
              // ITERATING THROUGH OBJECTS
              $('#select-subindikator').empty();
              $('#select-subindikator').prop('selectedIndex', 0);
              $('#select-subindikator').append('<option selected="true" disabled>Nama Indikator</option>');
              
             // add table rows
             var itemsAdded=[];
              $.each(dataCoba, (i, value) => {
                  // console.log(value, "ini value tatanan")
                  let subindikator = value.subindikator
                  
                  if($.inArray(subindikator, itemsAdded)===-1) 
                  { itemsAdded.push(subindikator);
                    $('#select-subindikator').append('<option value="' + value.subindikator + '">' + value.subindikator + '</option>'); 
                  }
                    
          });
        },
              error : function(e) {
                alert("ERROR: ", e);
                console.log("ERROR: ", e);
              }
          })
        }
    });
  })
  </script>

<script type="text/javascript">
  function form_submit() {
    document.getElementById("formKegiatan").submit();
    swal("Data ditambahkan", "Anda telah berhasil menambah kegiatan!", "success")
          .then(function(){ 
          location.reload();
        });
   }    
</script>