<% layout('layout') %>

<%- include('../../partials/navbar.ejs'); %>
<div class="container-fluid px-4">
  <div class="wrapper-kelola-lokasi">
    <div id="map-city"></div>
    <!-- <div class="card-kelola-kegiatan">
      <div class="grid-kelola-kegiatan">
        <div class="daerah-kegiatan">
          <h5 class="fw-bold">Tabel Dokumentasi Kegiatan</h5>
          <div class="search-adminitrasi">
            <div class="row g-3">
            <div class="col">
            <input class="form-control" type="date" id="start" name="trip-start"
                value="YYYY-MM-DD"
                min="2020-01-01" max="">
            </div>
            <div class="col">
                <button type="button" class="btn btn-green" style="margin-top: 5px;">Tampilkan</button>
                </div>
                </div>
            <style>
            label {
                    display: block;
                    font: 1rem 'Fira Sans', sans-serif;
                }
                input,
                label {
                    margin: .4rem 0;
                }
            </style><br>
                      <div>
                        <table id="tabel_kegiatan" class="table bg-light rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Kegiatan</th>
                                    <th>Tanggal</th>
                                    <th>Aksi</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <ul class="pagination justify-content-center" style="margin:20px 0">
                        </ul>
                    </div>
            <div class="mb-2">
              <button type="button" class="btn btn-green">Search</button>
            </div>
          </div>

        </div>
      </div>
    </div> -->
  </div>
  
</div>

<% block('extendScripts').append('<script type="text/javascript" src="/js/maps/maps-drag.js"></script>') %>
