<% layout('layout') %>

<%- include('../../partials/navbar.ejs'); %>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="images/content/medan2.jpg" class="d-block w-100" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="images/content/medan3.jpg" class="d-block w-100" alt="...">
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<!-- Favicon -->   
	<!-- <link href="" rel="shortcut icon"/> -->

	<!-- Google Fonts -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet"> -->

	<!-- Stylesheets -->
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/themify-icons.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>
	<link rel="stylesheet" href="css/animate.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="css/style.css"/> -->

<!-- 
</head>
<body> -->
	<!-- Page Preloder -->
	<!-- <div id="preloder">
		<div class="loader"></div>
	</div> -->



	<!-- Hero section -->
	<!-- <section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="images/content/medan2.jpg">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="hs-subtitle">Kota Medan</div>
								<h2 class="hs-title" style="color: rgba(34, 104, 255, 0.87);">Salam, Damai, dan Toleransi</h2>
								<p class="hs-des" style="color: rgb(255, 255, 255);">Bekerja sama dan sama- sama bekerja untuk kemajuan dan kemakmuran Kota Medan metropolitan</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="images/content/medan3.jpg">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="hs-subtitle">Kota Medan</div>
								<h2 class="hs-title" style="color: rgba(34, 104, 255, 0.87);">Salam, Damai, dan Toleransi</h2>
								<p class="hs-des" style="color: rgb(253, 253, 253);">Bekerja sama dan sama- sama bekerja untuk kemajuan dan kemakmuran Kota Medan metropolitan</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Hero section end -->



	<!-- Services section -->
	<!-- <section class="service-section spad">
		<div class="container services">
            
			<div class="row">
				<h3>Grafik Kesehatan Kota</h3>
                <br>
                <br><br><br>
				<div class="col-lg-8 col-sm-6 service-item">
					<div class="service-icon">
					</div>
					<div class="service-content">
						
                        <script>
                            window.onload = function () {
                            
                            var chart = new CanvasJS.Chart("chartContainer", {
                                animationEnabled: true,
                                theme: "light2", // "light1", "light2", "dark1", "dark2"
                                title:{
                                    text: ""
                                },
                                axisY: {
                                    title: ""
                                },
                                data: [{        
                                    type: "column",  
                                    showInLegend: true, 
                                    legendMarkerColor: "grey",
                                    legendText: "Indikator",
                                    dataPoints: [      
                                        { y: 10, label: "Sarana Prasarana" },
                                        { y: 20,  label: "Terib lalu lintas" },
                                        { y: 15,  label: "Kawan Industri dan Perkantoran" },
                                        { y: 50,  label: "Kawasan Pariwisata" },
                                        { y: 75,  label: "Kawasan Pertambangan" },
                                        { y: 30, label: "Kawasan Hutan" },
                                        { y: 40,  label: "Ketahanan Pangan & Gizi" },
                                        { y: 40,  label: "Kehidupan Masyarakat" },
                                        { y: 55,  label: "Kehidupan Sosial" }
                                    ]
                                }]
                            });
                            chart.render();
                            
                            }
                            </script>
                            
                            <body>
                            <center><div id="chartContainer"></div></center>
                            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
						</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item"><br>
					<div class="service-icon">
					</div><br><br><br>
                    <div class="service-content">
                        <button class="site-btn">Jumlah Kegiatan</button>
                    </div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Services section end -->

	<!-- <br><br><br><br><br><br><br><br><br><br> -->
	<!-- Enroll section -->
	<!-- <section class="service-section spad">
		<div class="container services">
            
			<div class="row">
          
				<div class="col-lg-8 col-sm-6 service-item">
					<div>
					</div>
                    <h4 style="font-size: 40px; color: blue;">Temukan Kegiatan Disekitar Kamu</h4>
					<div class="service-content1">
						<p style="font-size: large;"> Kota Medan merupakan pintu gerbang wilayah Indonesia bagian barat dengan keberadaan Pelabuhan Belawan dan Bandar Udara Internasional Kuala Namu yang merupakan bandara terbesar kedua di Indonesia. Akses dari pusat kota menuju pelabuhan dan bandara dilengkapi oleh jalan tol dan kereta api. Medan adalah kota pertama di Indonesia yang mengintegrasikan bandara dengan kereta api. Berbatasan dengan Selat Malaka, Medan menjadi kota perdagangan, industri, dan bisnis yang sangat penting di Indonesia. Pada tahun 2020, kota Medan memiliki penduduk sebanyak 2.524.321 jiwa, dan kepadatan penduduk 9.522,22 jiwa/km2
                            Sejarah Medan berawal dari sebuah kampung yang didirikan oleh Guru Patimpus di pertemuan Sungai Deli dan Sungai Babura. Hari jadi Kota Medan ditetapkan pada 1 Juli 1590. Selanjutnya pada tahun 1632, Medan dijadikan pusat pemerintahan Kesultanan Deli, sebuah kerajaan Melayu. Bangsa Eropa mulai menemukan Medan sejak kedatangan John Anderson dari Inggris pada tahun 1823.</p>						
                    </div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item"><br>
                    <div class="">
						<img src="images/content/kota.png" alt="1">
					</div>
				</div>
                <div class="service-content2">
                        <button class="site-btn">Tampilkan Kegiatan</button>
                    </div>
			</div>
		</div>
	</section>

	<br><br><br><br> -->


	<!-- Event section -->
	<!-- <section class="event-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3 style="color: blue;">Informasi Pada Lokasi City Medan</h3>
			</div>
</div>
</section> -->
<%- include('../../partials/footer_petugas.ejs'); %>
	<!--====== Javascripts & Jquery ======-->
	<!-- <script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.countdown.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
	
</body>
</html> -->
