<% layout('layout') %>

<%- include('../../partials/navbar.ejs'); %>
<div class="container-fluid px-4">
  <div class="wrapper-kelola-lokasi">
    <div id="map-city"></div>
    </div>
  </div>
</div>

<% block('extendScripts').append('<script type="text/javascript" src="/js/maps/maps-view.js"></script>') %>
