<% layout('layout') %>

<%- include('../../partials/navbar.ejs'); %>
<div class="container-fluid px-4">
  <div class="wrapper-kelola-lokasi">
    <div id="map-city"></div>
  
    <div class="card-kelola-lokasi">
      <div class="card-find-poi">
        <h5 class="fw-bold">Find Point Of Interest</h5>
        <div class="search-poi">
          <div class="mb-2">
            <select class="form-control form-control-sm" name="select-kecamatan" id="select-kecamatan" style="width: 100%;">              
            </select>
          </div>
          <div class="mb-2">
            <select class="form-control form-control-sm" name="select-desa" id="select-desa" style="width: 100%;">              
            </select>
          </div>
          <div class="mb-2">
            <!-- <select name="poi-kategori" class="selectpicker form-control" id="select-poi-kategori">
              <option>Jakarta</option>
              <option>Banda Aceh</option>
              <option>Medan</option>
              <option>Padang</option>
            </select> -->
            <input type="text" name="poi-name" class="form-control" id="poi-name" placeholder="Nama POI">
          </div>
          <div class="mb-2">
            <button type="button" class="btn btn-green" id="btn-search-poi">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<% block('extendScripts').append('<script type="text/javascript" src="/js/maps/maps-home.js"></script>') %>